//
  Header
  ================================================== 
header#home
  nav#nav-wrap
    a.mobile-btn(href='#nav-wrap', title='Show navigation') Show navigation
    a.mobile-btn(href='#', title='Hide navigation') Hide navigation
    ul#nav.nav
      li.current
        a.smoothscroll(href='#home') Home
      li
        a.smoothscroll(href='#about') About
      li
        a.smoothscroll(href='#resume') Resume
      li
        a.smoothscroll(href='#portfolio') Works
      li
        a.smoothscroll(href='#slider') Testimonials
      li
        a.smoothscroll(href='#contact') Contact
    // end #nav
    // end #nav-wrap
    .row.banner
      .banner-text
        h1.responsive-headline I'm Igor Protsenko.
        h3
          | I am a Ukrainian web designer who creates user-friendly websites for companies of all sizes around the world. Let's 
          a.smoothscroll(href='#about') start scrolling
          |  and learn more 
          a.smoothscroll(href='#about') about me
          | .
        hr
        ul.social
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-google-plus
          li
            a(href='#')
              i.fa.fa-linkedin
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='#')
              i.fa.fa-dribbble
          li
            a(href='#')
              i.fa.fa-skype
    p.scrolldown
      a.smoothscroll(href='#about')
        i.icon-down-circle
// Header End