
.row.skill
.three.columns.header-col
    h1
    span Skills
.nine.columns.main-col
    p
    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
    | quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    .bars
    ul.skills
        li
        span.bar-expand.photoshop
        em Photoshop
        li
        span.bar-expand.illustrator
        em Illustrator
        li
        span.bar-expand.wordpress
        em Wordpress
        li
        span.bar-expand.css
        em CSS
        li
        span.bar-expand.html5
        em HTML5
        li
        span.bar-expand.jquery
        em jQuery
